# platform specific
android/
ios/

# bash scripts
scripts/

# top level config files
.buckconfig
.editorconfig
.gitattributes
.gitignore
.nvmrc
.prettierignore
.git/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# test snapshots
*.snap

# BUCK
buck-out/
\.buckd/**/*
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
*.bundle.js

# output dir
dist/

# vscode
*.code-workspace

# git
.gitkeep
